<strong>Olá, {{ organizer }}</strong>
<p>Uma nova inscrição foi realizada por {{user}}, {{email}}!</p>
<p>
  <strong>Meet: </strong>{{ title }}<br>
  <strong>Em: </strong>{{ place }}, {{date}}<br>
  {{description}}<br>
</p>
